

/* STYLING FOR BACKGROUND */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1152px;
    height: 700px;
    background: #370617;
    gap: 20px;
}


/* COMMON STYLING FOR ALL ORANGE BOXES */
.flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5, .flex-box-6 {
    display: flex;
    width: 468px;
    height: 160px;
    max-height: 160px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F48C06;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/* COMMON STYLING FOR ALL RED SQUARES */
.flex-square-1, .flex-square-2, .flex-square-3, .flex-square-4, .flex-square-5, .flex-square-6 {
    border-radius: 4px;
    background: #9D0208;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: 4px;
}



/* INDIVIDUAL STYLING FOR FIRST ORANGE BOX */
.flex-box-1 {
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 20px;
    gap: 20px;
}
/* individual styling for the red squares in the first orange box */
.flex-square-1 {
    width: 78px;
    height: 78px;
    max-width: 100%;
    max-height: 100%;
}




/* INDIVIDUAL STYLING FOR SECOND ORANGE BOX */
.flex-box-2 {
    justify-content: center;
    align-items: stretch;
    padding-top: 20px;
    gap: 20px;
}
/* individual styling for the red squares in the second orange box */
.flex-square-2 {
    width: 78px;
    height: 120px;
    max-height: 100%;
}




/* INDIVIDUAL STYLING FOR THIRD ORANGE BOX */
.flex-box-3 {
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 20px;
}
/* individual styling for the red squares in the third orange box */
.flex-square-3 {
    width: 78px;
    height: 78px;
    max-width: 100%;
    max-height: 100%;
}




/* INDIVIDUAL STYLING FOR FOURTH ORANGE BOX */
/* Problem: can not fix so that the orange box is the same size
as the other orange boxes */
.flex-box-4 {
    justify-content: space-around;
    height: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* individual styling for the red squares in the fourth orange box */
.flex-square-4 {
    width: 78px;
    height: 78px;
}
/* individual styling for the last red squares in the fourth orange box */
.flex-square-4:nth-child(3) {
    align-self:flex-end;
} 


/* INDIVIDUAL STYLING FOR FIFTH ORANGE BOX */
/* Problem: can not vertically align text within the red square*/
.flex-box-5 {
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
}
/* individual styling for the red squares in the fifth orange box */
.flex-square-5 {
    width: 78px;
    height: 120px;
    max-height: 100%;
}
/* individual styling for the middle red squares in the fifth orange box */
.flex-square-5:nth-child(2) {
    width: 78px;
    height: 64px;
    max-height: 100%;
}



/* INDIVIDUAL STYLING FOR SIXTH ORANGE BOX */
.flex-box-6 {
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/* individual styling for the red squares in the sixth orange box */
.flex-square-6 {
    width: 78px;
    max-width: 100%;
    height: 120px;
    max-height: 78px;
}
/* individual styling for the middle red square in the sixth orange box */
.flex-square-6:nth-child(2) {
    flex-grow: 2;
}
